.payment label {
  font-weight: 600;
  color: #000d6b;
}

.payment button {
  padding: 8px 15px;
  border-radius: 5px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  margin-bottom: 50px;
}

@media (max-width:768px) {
  .payment button {
    margin-right:11rem !important;
    
  }
}
